<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="quote" Icon="@(new Icons.Regular.Size20.ReceiptMoney())" IconColor="Color.Accent">Quote</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            <FluentNavLink Href="profile" Icon="@(new Icons.Regular.Size20.LockClosedKey())" IconColor="Color.Accent">User</FluentNavLink>
            <FluentNavLink Href="/roles/admin/admin" Icon="@(new Icons.Regular.Size20.PeopleEye())" IconColor="Color.Accent">Admin</FluentNavLink>
            <FluentNavLink Href="/roles/anonymous/anonymous" Icon="@(new Icons.Regular.Size20.GlassesOff())" IconColor="Color.Accent">Anonymous</FluentNavLink>
            <FluentNavLink Href="/roles/authenticated/authenticated" Icon="@(new Icons.Regular.Size20.Glasses())" IconColor="Color.Accent">Authenticated</FluentNavLink>
        </FluentNavMenu>
    </nav>
    <div>
        <ul>
            <li><a href="/anonymous/">Anonymous Role page</a></li>
            <li><a href="/authenticated/">Authenticated Role page</a></li>
        </ul>
    </div>
</div>

@code {
    private bool expanded = true;
}
