<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded">
             <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
             <FluentNavLink Href="charthome" Icon="@(new Icons.Regular.Size20.ChartPerson())" IconColor="Color.Accent">Chart</FluentNavLink>
            
            <FluentNavGroup Title="API" Tooltip="Test API Calls" Icon="@(new Icons.Regular.Size24.GlobeSearch())">
                <FluentNavLink Href="quotelookup" Icon="@(new Icons.Regular.Size20.DocumentSearch())" IconColor="Color.Accent">Quote</FluentNavLink>
                <FluentNavLink Href="chartlookup" Icon="@(new Icons.Regular.Size20.DocumentTableSearch())" IconColor="Color.Accent">Chart</FluentNavLink>
            </FluentNavGroup>

             <FluentNavLink Href="security" Icon="@(new Icons.Regular.Size20.Person())" IconColor="Color.Accent">Security</FluentNavLink>
             <FluentNavLink Href="memoryusagejs" Icon="@(new Icons.Regular.Size20.BrainCircuit())" IconColor="Color.Accent">Memory</FluentNavLink>
             <FluentNavLink Href="themechooser" Icon="@(new Icons.Regular.Size20.Settings())" IconColor="Color.Accent">Settings</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
