@page "/quote"
@using StockApp.BlazorPwa.Interfaces
@using StockApp.Shared.Api
@using StockApp.Shared.Models
@inject IQuoteService quoteService

<h3>Quote</h3>

<input @bind="Symbol" placeholder="Enter stock symbol" />
<button @onclick="GetQuoteData">Get Price</button>

<div class="responsive-grid">
    <div class="grid-item">
        <span class="label">Previous Close</span>
        <span class="value">@quoteData.RegularMarketPreviousClose</span>
    </div>
    <div class="grid-item">
        <span class="label">Volume</span>
        <span class="value">@quoteData.RegularMarketVolume</span>
    </div>
    <div class="grid-item">
        <span class="label">Earnings Date</span>
        <span class="value">@quoteData.EarningsTimestamp</span>
    </div>
    <div class="grid-item">
        <span class="label">Open</span>
        <span class="value">@quoteData.RegularMarketOpen</span>
    </div>
    <div class="grid-item">
        <span class="label">Avg. Volume (10 Day)</span>
        <span class="value">@quoteData.AverageDailyVolume10Day</span>
    </div>
    <div class="grid-item">
        <span class="label">Dividend & Yield</span>
        <span class="value">@quoteData.DividendYield</span>
    </div>
    <div class="grid-item">
        <span class="label">Bid</span>
        <span class="value">@quoteData.Bid</span>
    </div>
    <div class="grid-item">
        <span class="label">Market Cap</span>
        <span class="value">@quoteData.MarketCap</span>
    </div>
    <div class="grid-item">
        <span class="label">Dividend & Yield Rate</span>
        <span class="value">@quoteData.TrailingAnnualDividendRate</span>
    </div>
    <div class="grid-item">
        <span class="label">Ask</span>
        <span class="value">@quoteData.Ask</span>
    </div>
    <div class="grid-item">
        <span class="label">Average (200 Day)</span>
        <span class="value">@quoteData.TwoHundredDayAverage</span>
    </div>
    <div class="grid-item">
        <span class="label">Day's Range</span>
        <span class="value">@quoteData.RegularMarketDayRange</span>
    </div>
    <div class="grid-item">
        <span class="label">PE Ratio</span>
        <span class="value">@quoteData.TrailingPe</span>
    </div>
    <div class="grid-item">
        <span class="label">EPS (TTM)</span>
        <span class="value">@quoteData.EpsTrailingTwelveMonths</span>
    </div>
    <div class="grid-item">
        <span class="label">Dividend Date</span>
        <span class="value">@quoteData.DividendDate</span>
    </div>
    <div class="grid-item">
        <span class="label">Avg. Analyst Rating</span>
        <span class="value">@quoteData.AverageAnalystRating</span>
    </div>
</div>

@code {
    [Parameter]
    public string Symbol { get; set; }

    private Result quoteData = new();

    private async Task GetQuoteData()
    {
        var stockData = await quoteService.GetQuoteData(Symbol);
        quoteData = stockData.Data.QuoteResponse.Result.FirstOrDefault();
    }
}